<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2013 SBG Apps
  ~ http://baiget.fr
  ~ stephane@baiget.fr
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sbgapps.scoreit">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.sbgapps.scoreit.ScoreItActivity"
            android:logo="@drawable/ic_launcher_flat"
            android:theme="@style/Theme.App.Scoreit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.sbgapps.scoreit.UniversalLapActivity"
            android:theme="@style/Theme.App.Adaptive"/>
        <activity
            android:name="com.sbgapps.scoreit.BeloteLapActivity"
            android:theme="@style/Theme.App.Adaptive"/>
        <activity
            android:name="com.sbgapps.scoreit.CoincheLapActivity"
            android:theme="@style/Theme.App.Adaptive"/>
        <activity
            android:name="com.sbgapps.scoreit.TarotLapActivity"
            android:theme="@style/Theme.App.Adaptive"/>
        <activity
            android:name="com.sbgapps.scoreit.AboutActivity"
            android:theme="@style/Theme.App.Adaptive"
            android:logo="@drawable/ic_launcher_flat"
            android:parentActivityName=".ScoreItActivity"
            android:label="@string/about"/>
        <activity
            android:name="com.sbgapps.scoreit.EditNameActivity"
            android:theme="@style/Theme.App.NoTitle"/>
    </application>

</manifest>
